<div class="content">
<div class="columns">	
<div class="column is-half is-offset-3" style="margin-top: 15px">	
<h1 class="subtitle is-4">Agreger tarea</h1>
</div>
</div>
<div class="columns is-centered">
	<div class="column is-half" style="border: 1px solid black">
		<p class="is-pulled-right">
        <%= link_to 'Regresar', tasks_path,  class: "button is-light"%>
       </p>	
		<%= render 'form', task: @task %>
	</div>
</div>
</div>